.add_plate{
	height:33px;
	background:#fff;

	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items:center;
	padding-left:15px;
}
.add_btn{
	font-size:14px;
	font-weight:bold;
}