:global{
	.ant-modal {
    top: 200px;
	  .ant-form-inline .has-feedback {
	    width: 153px;
	  }
    }
	.ant-modal-footer {
		border-top:none;
    text-align: center;

	   button + button {
	    margin-left: 150px;
	    margin-bottom: 0;
		}
  }

}

.titletop{
	padding:0px 8px;
}
.rowspace{
	margin-top:5px;
}
.table{
	margin-top:10px;
	tr{
		td,th{
	    text-align: center;
	  }

	}
:global{
	.ant-table-bordered.ant-table-small .ant-table-title{
		padding:4px;
		background-color: #f7f7f7;
		font-weight:bold;
		padding-left:10px;
	}
	.ant-table-small .ant-table-thead > tr > th{
		padding:4px;
	}

}

}
