.margin{
  margin-left:50px;
  display:inline-block;
}
.inlineblock{
  display:inline-block;
}


.table{
  :global{
    .ant-table-thead > tr > th{
      text-align:center;
    }
  }
   td{
      text-align:center;
  }
  td:nth-child(2),td:nth-child(5){
    text-align: left;
  }
  td:nth-child(3),td:nth-child(4){
    text-align: right;
  }
}
.btn_wrap{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:30px;
}
.btn_margin{
  margin-left:100px;
}
.switch{
  :global{
         .ant-switch-checked .ant-switch-inner {
        padding: 0 6px ;
        }
  }
}