.main_content{
 min-height: e("calc(100vh - 141px)");
background:#fff;
margin-right:15px;

}
.main_content_top{
height:36px;
background:#f5f5f5;
display:flex;
flex-direction:colum;
align-items:center;
padding-left:10px;
}
.main_content_btm{
flex:1;
padding:9px 9px 0 9px;
}
.example{
	width:50%;
}